body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
  .edit-User-profile {
    width: calc(70% - 30px);
    margin-left: 30px;
    margin-top: 19px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #969595;
    height: 93vh;
    border-radius: 15px;
    overflow-y: auto;
    box-shadow: rgb(19, 18, 18);
}

  
  .edit-User-profile::-webkit-scrollbar {
    width: 0;
  }
  .edit-User-profile {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }
  
  .form-group-user {
    display: flex;
    flex-direction: column;
    border: #e1e0e0;
    margin-bottom: 14px;
    margin-right: 20px;
    width:auto;
  }
  .edit-User-profile h2{
    display: flex;
    color: #000000;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .form-group-user input {
    padding: 10px;
    border: 1px solid #eae9e983;
    border-radius: 15px;
    font-size: 16px;
    color: #161616;
    transition: all 0.3s ease;
    height: 60px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    padding: 10px;
    border: 1px solid #eae9e983;
    border-radius: 15px;
    font-size: 16px;
    color: #3d3d3d;
    transition: all 0.3s ease;
    height: 60px;
  }
  
  input[type="number"] {
   appearance: textfield;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  
  
  input[type="text"]:hover,
  input[type="number"]:hover,
  textarea:hover {
    color: rgb(25, 25, 25);
    
    
  }
  .form-group-user label{
    text-align: left;
    margin-left: 0%;
    box-shadow: rgb(4, 8, 12);
    font-size: 18px;
  }
  .form-group button {
    text-align: center;
    margin-left: 20%;
    box-shadow: rgb(6, 6, 6);
    font-size: 16px;
    background-color: #c23232;
  }
  .form-group button:hover {
    background-color: #a92f2f;
    transform: translateY(0px);
    
  }
  
  button {
    grid-column: span 2;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    padding: 12px;
    background-color: #1a54ab;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
  }
  
  button:hover {
    background-color: #132b89;
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(251, 252, 253, 0.2);
  }
  
  .success-message {
    text-align: center;
    color: rgb(201, 203, 206);
    margin-top: 20px;
    font-size: 18px;
  }
  
  .error-message {
    .error-message {
      color: red;
      font-size: 0.875rem;
      position: absolute;
      bottom: -70px;
      left: 22px;
      width: 100%;
      text-align: left;
    }
  }
  