/* body styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(135deg, #3a6073, #3f2f39);
    overflow: hidden;
  }
  
  /* Main container */
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;     
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Logo style */
  .smartcare-logo {
    width: 320px;
    margin-bottom: 15px;
    margin-top: -30px;
    align-items: left;    
    transition: transform 0.3s ease;
  }
  
  .smartcare-logo:hover {
    transform: scale(1.1);
  }
  
  /* Header style */
  h2 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 30px;
    align-items: left;   
    text-align: left;

  }
  
  /* Paragraph style */
  p {
    font-size: 20px;
    color: #e0e0e0;
    margin-bottom: 50px;
  }
  
  /* Login button */
  .login-button-homePage {
    background-color: #183690;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    margin-left: 17%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .login-button-homePage :hover {
    background-color: #1b266785;
    box-shadow: 0 8px 15px rgba(3, 6, 12, 0.2);
  }
  .footer .h6{
    font-size: 15px;
    text-align: center;
    margin-right: 90px;
    margin-bottom: 5px;
  }
