/* Hamburger Menu Button */
.hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hamburger Icon */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.hamburger-icon div {
  width: 100%;
  height: 3px;
  background-color: rgb(216, 213, 213);
}

/* Menu Text */
.menu-text {
  margin-top: 15px;
  font-size: 14px;
  color: transparent;
  transition: color 0.3s ease;
}

.hamburger-menu:hover .menu-text {
  color: rgb(220, 219, 219);
}

/* Sidebar Container */
.sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Sidebar Open */
.sidebar-container.open {
  transform: translateX(0);
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}

/* Sidebar Header */
.sidebar-header {
  margin-bottom: 30px;
}

/* Custom Search Input */
.custom-search-input {
  border: 1px solid #ccc;
}

/* Results Frame */
.results-frame {
  border: 1px solid #ccc;
  border-radius: 15px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  margin-bottom: 15px;
}

/* Result Item */
.result-item {
  cursor: pointer;
}

/* Result Item Hover Effect */
.result-item:hover {
  background-color: #f0f0f0;
}

/* No Results */
.no-results {
  padding: 10px;
  color: rgb(6, 6, 6);
}

/* Sidebar Navigation */
.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

/* Hover effect for sidebar links */
.sidebar-link:hover {
  color: rgb(228, 227, 227);
  text-decoration: none;
  background-color: #616060;
}
