/* Sidebar Container */
.sidebar-container {
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #4f4d4d;
  color: white;
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar-container.open {
  left: 0;
}

.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header img {
  width: 200px;
  height: auto;
}

/* Custom Hamburger Toggle Button */
.toggle-button {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.toggle-button.open .hamburger-icon div {
  background-color: #fff;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger-icon div {
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.toggle-button.open .hamburger-icon div:nth-child(2) {
  opacity: 0;
}

/* Sidebar Links */
.sidebar-nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar-link {
  display: block;
  padding: 15px 10px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
}

.sidebar-link:hover {
  text-decoration: none;
  color: rgb(136, 182, 231);
}

/* Search Bar */
.search-bar {
  padding: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  height: 39px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #e8e7ec;
  color: #302f2f;
  box-shadow: 2px 8px 8px rgba(42, 41, 42, 0.1);
  font-size: 17px;
}

/* Overlay for closing sidebar */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 900;
}
