body {
    font-family: 'Arial', sans-serif;
    background-color: #424444;
    margin: 0;
    padding: 0;
}
.modal-dialog-m{
    width: calc(70% - 30px);
    margin-left: 30%;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    height:99vh;
    border-radius: 15px;
    overflow-y: auto;
    box-shadow: rgb(0, 0, 0);

}
.modal-dialog-m::-webkit-scrollbar {
    width: 0;
  }
.modal-dialog-m{
    scrollbar-width: thin;
    scrollbar-color: rgba(87, 87, 87, 0.2) transparent;
  }
.modal-title-m{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: bold;

    }
.modal-header-m{
    text-align: center;
    background-color:#2f4dd4a8;
    color: white;
    }
.close-m{
    text-align: right;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 0px;
    position: absolute;
    top: -5%;
    right: 10px;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0.5;
}
.close-m:hover{
    text-align: right;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 0px;
    position: absolute;
    top: -5%;
    right: 10px;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0.5;
}
.form-group-m label{
    color: #000000;
    text-align:left;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 15px;
    padding: 2px 3px;
    margin: 5px 5px;
    font-family:'Times New Roman', Times, serif
}
.form-group-m input{
    color: #000000;
    text-align:left;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: center;    
}
.form-control-m{
    color: #101010;
    text-align: center;
    background-color: #e7e9eb;
    margin-bottom: 10px;
    border:#000000
}
.form-control-m option{
    color: #000000;
    text-align:left;
    width:100%;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: center;  
}
#userPassword {
    width: 80%; 
    text-align:left;
    padding: 10px;
    border-radius: 10px;
}
.form-control-m select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #e7e9eb;
    border: 1px solid #000000;
}
.form-control-m select option {
    padding: 15px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
}

.text-left {
    text-align: left;
}

.custom-btn-manag {
    background-color: rgba(163, 49, 49, 0.6);
    color: white;
    padding: 15px 20px;
    font-size: 1.4em;
    border: none;
    border-radius: 25px;
    width: 100%;
    text-align: left;
    transition: 0.3s, box-shadow 0.3s;
}

.custom-btn-manag:hover {
    background-color: rgba(205, 68, 70, 0.8);
    border:none;
    box-shadow: 0 4px 8px rgba(114, 31, 31, 0.2);
}
.custom-btn-new { 
    background-color: rgba(48, 77, 149, 0.6);
    color: white;
    padding: 20px 60px;
    font-size: 1.3em;
    border: none;
    border-radius: 15px;
    width: calc(100%);
    text-align: left;
    transition: 0.3s, box-shadow black 0.3s;
}

.custom-btn-new:hover {
    background-color: rgba(88, 111, 226, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description {
    display: block;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}

.button-group {
    margin-top: 20px;
}

.button-group .btn {
    margin-bottom: 20px;
}

button.close{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 0px;
    position: absolute;
    top: 20px;
    right: -69px;
}
button.close:hover {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.table {
    width: 100%;
    margin-top: 10px;
}
.modal-title{
    color: white;
    text-align: center;
}
.table th {
    background-color: #818182;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
}
.modal-footer .btn-secondary {
    background-color: #120397;
    color: white;
    border: none;
}

.username {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}
.btn-maneger-submit{
    padding: 20px;
    color: #f9f9fc;
    background-color: #1559c0;
}
.btn-maneger-submit:hover{
    padding: 20px;
    background-color:#1559c0;
    color: #f9f9fc;
}
.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.container.content {
    padding: 20px;
}

.modal {
    background-color: rgba(22, 22, 22, 0.5);
}
.modal-content {
    border-radius: 0.5rem;
    overflow: hidden;
}

.modal-header {
    background-color: #565454;
    color: #fff;
    border-bottom: none;
}
.modal-body {
    padding: 2rem;
    background-color: #fff;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-danger {
    margin-top: 1rem;
    font-weight: bold;
}

.text-success {
    margin-top: 1rem;
    font-weight: bold;
}
