/* Navbar.css */

/* لإخفاء القائمة الجانبية وإظهارها */
.sidebar {
  position: fixed;
  left: -250px; /* البداية تكون مخفية */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0; /* عندما تكون مفتوحة */
}

.menu-toggle {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container.menu-open .page-content {
  margin-left: 250px; /* عندما تكون القائمة مفتوحة، المحتوى يزاح إلى اليمين */
  transition: margin-left 0.3s ease;
}

.page-content {
  flex: 1;
  padding: 20px;
  margin-left: 0; /* المحتوى عندما تكون القائمة مغلقة */
  transition: margin-left 0.3s ease;
  display: flex;
  justify-content: center; /* توسيط المحتوى أفقياً */
  align-items: center; /* توسيط المحتوى عمودياً */
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.sidebar-header {
  padding: 20px;
  background-color: #444;
}

.sidebar-title {
  font-size: 1.5rem;
}

.sidebar-link {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #555;
}
