.edit-profile-container {
  max-width: 600px;
  width: 100%;
  margin-top: 5px;
  padding: 20px;
  height: 98vh;
  justify-content: right;
  background: #b4b5b6e0;
  margin-right: 0px;
  border-radius: 15px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(243, 243, 243, 0.1);
}

.edit-profile-container input[type="text"],
.edit-profile-container input[type="number"],
.edit-profile-container textarea {
  padding: 10px;
  border: 1px solid #eae9e983;
  border-radius: 15px;
  font-size: 16px;
  color: #3d3d3d;
  transition: all 0.3s ease;
  height: 60px;
}

.edit-profile-container button {
  grid-column: span 2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  padding: 12px;
  background-color: #1a54ab;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: none;
}

.edit-profile-container button:hover {
  background-color: #14468c;
}

.edit-profile-container .success-message {
  text-align: center;
  color: rgb(201, 203, 206);
  margin-top: 20px;
  font-size: 18px;
}

.edit-profile-container .error-message {
  color: red;
  font-size: 0.875rem;
  position: absolute;
  bottom: -70px;
  left: 22px;
  width: 100%;
  text-align: left;
}

.edit-profile-container::-webkit-scrollbar {
  width: 0;
}

.edit-profile-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
.error-message-profile-page {
  color: red;
  font-size:16px;
  position: relative;
  margin-top: 5px;
  text-align: left;
}

.success-message-profile-page {
  text-align: center;
  color: #1a54ab;
  margin-top: 20px;
  font-size: 18px;
}
