.app {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1e4075b3;
    flex-direction: row;
    position:absolute;
		top: 10px;            /* Align to the top */
    right: 10px;   
    /* margin-right: 20%; */
    /* margin-top: 3%; */
    /* margin-left: 50%; */
    color: rgb(230, 230, 230);
    border-radius: 15px;
    width: auto;
  }
  
  .user-info {
    margin-left: auto;
    font-size: 16px;
  }
  
  .main-content {
    display: flex;
    flex-grow: 1;
  }
  
  .content-area {
    flex-grow: 1;
    padding: 20px;
  }
  body {
     /* Prevent content from hiding behind the header */
    margin-top: 50px;
		padding-top: 80px; /* Add space to ensure content doesn’t hide behind the header */
  }
  
  @media (max-width: 768px) {
    .header {
      /* Responsive font size */
      font-size: 16px;
    }
}
