.app {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #b83838;
    flex-direction: row;
    position:absolute;
    margin-right: 20%;
    margin-top: 3%;
    margin-left: 50%;
    color: rgb(74, 73, 73);
    border-radius: 15px;
  }
  
  .user-info {
    margin-left: auto;
    font-size: 18px;
  }
  
  .main-content {
    display: flex;
    flex-grow: 1;
  }
  
  .content-area {
    flex-grow: 1;
    padding: 20px;
  }
  body {
     /* Prevent content from hiding behind the header */
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    .header {
      /* Responsive font size */
      font-size: 16px;
    }
}
