body {
  background-color: rgb(78, 77, 77);
  padding: 20px;
 
}

.edit-profile {
  margin-left: 0px;
  padding: 40px;
  color: white;
  border-radius: 15px;
  width: 100%;
  margin-top: 30%;
}

button.custom-btn {
  margin: 20px;
  background-color: rgb(31, 47, 128);
  color: rgb(243, 241, 241);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button.custom-btn:hover {
  background-color: rgb(36, 53, 114);
}

.modal-content {
  background-color: #444;
  color: #e2e1e1;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.success-message {
  color: rgb(212, 212, 212);
  font-size: 14px;
  margin-top: 5px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  color: rgb(50, 50, 50);
}
